@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin-right: 0px;
  margin-left: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

.button1 {
  display: flex;
  margin-top: 25px;
  margin: auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #ffffff;
  border-radius: 30px;
  /*box-shadow: 0px 0px 6px #9c9c9c;*/
  line-height: 40px;
  border: none;
  /* cursor: pointer;*/
  transform: scale(1);
  transition: 800ms;
}

.button1:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
  box-shadow: 3px 3px 3px #979797;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
}

.heart1 {
  cursor: pointer;
}
.heart1 svg {
  overflow: visible;
}
.heart1 path {
  stroke: black;
  stroke-width: 2px;
  stroke-opacity: 1;
  fill: url(#gradient1);
  fill-opacity: 0;
  transition: all 1s ease-in-out;
}
.heart1 path:hover {
  stroke-opacity: 0;
  fill-opacity: 1;
}

.loader {
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  animation: loader forwards;
  animation-duration: 1s;
  animation-delay: 1400ms;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo-spinner {
  font-size: 60px;
  margin-bottom: 50px;
  font-family: "Shrikhand", sans-serif;
}

.spinner {
  width: 100px;
  height: 100px;
  border-bottom: 10px solid white;
  border-top: 8px solid #99E2D0;
  border-right: 5px solid #9356DC;
  border-left: 4px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1500ms ease-in-out infinite;
}

@keyframes loader {
  0% {
    visibility: inherit;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section2 {
  padding-bottom: 30px;
  padding-top: 20px;
}

.section3 {
  background-color: #f6f6f6ff;
  padding-top: 30px;
}

.Resto h2 {
  padding-left: 25px;
}

.restaurants {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  padding-bottom: 50px;
}

.restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  right: 450px;
  margin-bottom: 20px;
  border: 0 solid #ffffff;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 3px #deebff;
}

.nouveau {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #10392f;
  background-color: #99E2D0;
  padding: 5px;
}

.bloc {
  position: relative;
}

.restaurant1 {
  width: 100%;
  display: flex;
  margin: auto;
  border: 0 solid #ffffff;
}

.restaurant h3, p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.texte {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.image1 {
  border-radius: 15px 15px 0 0;
  padding-bottom: 10px;
  height: 200px;
  width: 500px;
  object-fit: cover;
}

.image2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.aside2 {
  position: relative;
  margin-top: -40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  border: 1 solid black;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}

.Repas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes repas {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.palette {
  display: flex;
  justify-content: center;
  padding: 2px 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  width: 100%;
}

.palette h2 {
  font-family: "Shrikhand", sans-serif;
  padding-right: 90px;
  font-size: 25px;
}

.menu {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin: auto;*/
  animation: repas 3s forwards;
}

.delay-1 {
  width: 80%;
  animation: repas 2s forwards;
  animation-delay: 0.1s;
  opacity: 0;
  /*justify-content: center;*/
}

.delay-2 {
  width: 80%;
  animation: repas 2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.delay-3 {
  width: 80%;
  animation: repas 2s forwards;
  animation-delay: 1s;
  opacity: 0;
}

.delay-4 {
  width: 80%;
  animation: repas 2s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.ent {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  height: 75px;
  border-radius: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix h3 {
  margin-top: 30px;
  margin-right: 20px;
}

@keyframes slide {
  from {
    margin-left: 5%;
    width: 0%;
  }
  to {
    margin-left: 0%;
    width: 15%;
  }
}
@keyframes slidereturn {
  from {
    margin-left: 0%;
    width: 15%;
  }
  to {
    margin-left: 5%;
    width: 0%;
  }
}
.ent:hover .check {
  display: block;
  animation: slide 700ms ease-in-out forwards;
  transform: scaleX(100%);
  transition: 800ms;
}

.ent .check {
  display: block;
  animation: slidereturn 700ms ease-in-out forwards;
  transform: scaleX(100%);
  transition: 800ms;
}

.check {
  display: none;
  text-align: center;
  height: 100%;
  background-color: #99E2D0;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.check i {
  display: block;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.ent:hover .check i {
  animation: rotate 700ms 1 both;
}

.men {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.men p, h3 {
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ligne_verte1 {
  width: 40px;
  margin-left: 15px;
  border-bottom: 4px solid #99E2D0;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: large;
  font-weight: 300;
}

.Explorer {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
}

.Fonctionnement h2 {
  padding-left: 25px;
}

.aside1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 20px;
}

.fonc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.choix {
  box-shadow: 3px 3px 3px #ecececff;
  display: flex;
  justify-content: flex-start;
  padding: 2px 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  align-items: center;
  width: 100%;
  background: #f6f6f6ff;
  border: transparent;
  border-radius: 20px;
}

.choix:hover {
  background-color: #fceafb;
  box-shadow: 0px 0px 8px #fceafb;
  transition: 500ms;
}

.num {
  position: relative;
  left: 10px;
  background-color: #9356dc;
  padding: 3px 6px 3px 6px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
}

.iconeFonc {
  padding: 0 25px 0 25px;
  font-size: 20px;
  color: #7e7e7eff;
}

.iconeFonc:hover {
  color: #9356dc;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  justify-content: center;
}

.tete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.fleche {
  margin-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
}

/*.localisation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eaeaeaff;
}*/
.icone1 {
  margin-right: 15px;
}

/*.logo
{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 150px; 
}*/
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eaeaeaff;
  box-shadow: inset 0px 8px 8px -3px #c6c6c6;
}

/*.icone1
{
    margin-right: 15px;
}*/
.section1 {
  background-color: #f6f6f6ff;
  padding-bottom: 50px;
}

.Réservez h2 {
  display: flex;
  justify-content: center;
  /*padding-top: 30px;*/
  margin: 0px;
}

.Réservez {
  padding-top: 40px;
  padding-bottom: 10px;
}

.Découvrir {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.texteFin {
  justify-content: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #353535ff;
  color: #ffffff;
}

.texteFin a {
  text-decoration: none;
  color: #ffffff;
}

.iconeFoot {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  padding-left: 10px;
}

.logo1 {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
  margin: auto;
  color: #ffffff;
}

.fin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Découvrir {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
  }

  .restaurant {
    width: 100%;
  }

  .image1 {
    width: 330px;
  }

  .texteFin {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fin {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo1 {
    margin-left: 0px;
  }

  .Repas {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
