@keyframes loader
{
    0% {visibility: inherit;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes spin 
  {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }