@media screen and (max-width: 768px)
{
    .Découvrir
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/*.texteFin
{
    display: flex;
    justify-content:
}*/
}