@media screen and (max-width: 768px)
{
    .Découvrir
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aside1
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 94%;
    }
    .restaurant
    {
        width: 100%;
    }
    .image1
    {
        width: 330px;
    }
    .texteFin
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .fin 
    {
    flex-direction: column;
    align-items: flex-start;
    }
    .repas
{
  width: 100%;
}

.logo1
{
    margin-left: 10px;
}
.Repas
{
    flex-direction: column;
}

}